ion-header {
  height: 64px;
  display: flex;
  color: #ffffff;
  align-items: center;
  background: linear-gradient(45deg, #0288d1, #26c6da);
}
div.toolbar-background {
  display: none;
}
form {
  padding: 40px;
  max-width: 372px;
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
ion-list {
  background: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.form-title {
  right: auto;
  left: auto;
  width: 100%;
  padding: 15px;
}

.input-wrapper {
  width: 90%;
  margin: 0 auto;
}
ion-row {
  height: 79px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.form-button {
  margin-top: 20px;
}
ion-button {
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #8e24aa;
  background: linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}
.ion-color-primary {
  --ion-color-primary: transparent;
}
